{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="{% url 'product:list_filtered' %}" method="get" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="variant" class="form-control">
                        <option value="Maroon"><b>Maroon </b></option>
                        <option value="Black"><b>Black</b></option>
                        <option value="Red"><b>Red </b></option>
                        <option value="White"><b>White </b></option>
                        {% comment %} <option disabled><b>Size</b></option>
                        {% for size in 'size'|title %}
                            <option value="{{size}}">{{size}}</option>
                        {% endfor %} {% endcomment %}

                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price_from" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        {% comment %} {% if product_variant_price %} {% endcomment %}
        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for p in product_variant_prices %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ p.product.title }}<br> Created at : {{ p.product.created_at}}</td>
                            <td><p>{{ p.product.description }}</p></td>
                            <td>
                                <dl class="row mb-0"
                                    style="height: 80px; overflow: hidden; width:400px; font-size: 13px"
                                    id="{{ p.product.id }}">

                                    <dt class="col-sm-3 pb-0">
                                        <p>{{ p.product_variant_one.variant_title }} / {{ p.product_variant_one.variant.title }}
                                            <br> {{ p.product_variant_two.variant_title }} / {{ p.product_variant_two.variant.title }}
                                            <br> {{ p.product_variant_three.variant_title }} / {{ p.product_variant_three.variant.title }}</p>
                                    </dt>
                                    <dd class="col-sm-9">
                                        <dl class="row mb-0">
                                            <dt class="col-sm-4 pb-0">Price : {{ p.price }}</dt>
                                            <dd class="col-sm-8 pb-0">InStock : {{ p.stock }}.</dd>
                                            <dt class="col-sm-4 pb-0">Price : {{ p.price }}</dt>
                                            <dd class="col-sm-8 pb-0">InStock : {{ p.stock }}.</dd>
                                        </dl>
                                    </dd>
                                </dl>
                                <button onclick="$('#{{ p.product.id }}').toggleClass('h-auto')"
                                        class="btn btn-sm btn-link">Show more
                                </button>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="" class="btn btn-success">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>
        {% comment %} {% endif %} {% endcomment %}

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{page_obj.start_index }} to {{page_obj.end_index }} out of {{ product_variant_prices|length }}</p>
                </div>
                <div class="col-md-2">

                    {#                    {% if is_paginated %}#}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li>&laquo;<a href="?page={{ page_obj.previous_page_number }}">Previous&nbsp;&nbsp;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                            &nbsp;&nbsp;<li><a href="?page={{ i }}">{{ i }}</a></li>&nbsp;&nbsp;
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&nbsp;&nbsp;Next</a>&raquo;</li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {#                    {% endif %}#}

                </div>
            </div>
        </div>
    </div>
{% endblock %}